h1 {
  text-align: center;
  margin-top: 50px;
}

p {
  text-align: center;
}

.match-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  mat-card {
    width: 300px;
    margin: 20px;
  }
}

table {
  width: 40%;
}

.mat-elevation-z8 {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.mat-elevation-z8 * {
  text-align: center;
}

span {
  color: red;
  cursor: pointer;
}

button {
  margin: 15px;
}
